.summary-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 1rem;
}

.card {
    border-radius: 1rem;
    padding: 1rem 2rem;
    width: 90%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card h2 {
    margin-bottom: 0.5rem;
}

.card-header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;
}

.card-header-row h2,
.card-header-row .card-count {
    margin: 0;
}

.card-header-row  .card-count{
    font-weight: bold;
    font-size: 1.4rem;
}

/* Table Base Styles */
table {
    width: 100%;
    border-collapse: separate;
    font-size: 0.95rem;
    border-spacing: 0 0.4rem;
    text-align: left;
}

th,
td {
    padding: 0.5rem;
}

/* Category Sales Table */
.category-sales-table {
    border-spacing: 0;
}
.category-sales-table tbody td {
    background-color: var(--secondary-white2);
    padding: 0.75rem;
}

.category-sales-table tbody tr:first-child td:first-child {
    border-top-left-radius: 12px;
}

.category-sales-table tbody tr:first-child td:last-child {
    border-top-right-radius: 12px;
}

.category-sales-table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 12px;
}

.category-sales-table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 12px;
}

/* Top Items Table */
.top-items-table {
    margin-bottom: 2rem;
}

.top-items-table tbody td:nth-child(1) {
    font-weight: 700;
}

.top-items-table tbody td:nth-child(2),
.top-items-table tbody td:nth-child(3) {
    background-color: var(--secondary-white2);
}

.top-items-table tbody td:nth-child(2) {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    padding-left: 1rem;
}

.top-items-table tbody td:nth-child(3) {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

/* Orders Table */
.orders-table tbody td {
    background-color: var(--secondary-white2);
    padding: 0.55rem;
}

.orders-table tbody td:nth-child(1) {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    padding-left: 1rem;
}

.orders-table tbody td:nth-child(3) {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}