@import 'vars.css';

.setup-nav{
    background-color: var(--tertiary-4);
    padding: 2vh 4vh;
}

.setup-nav h1{
    margin: 0;
    color: var(--primary-white);
    font-family: var(--font-family);
    font-weight: var(--font-weight-semibold);
}

.setup-form{
    width: 90%;
    margin: 5%;
    padding: 10px;
    border: solid;
    border-radius: 10px;
    border-width: 5px;
    border-color: var(--primary-black);
}

.setup-table{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}